<br>
<h1>Magic Cards App</h1>
<br>
<% @cards["cards"] %>
<div class="container">
<div class="row">
  <% for x in @cards["cards"] %>
   <div class="col-sm">
     <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="<%= x["imageUrl"] %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= x["name"] %></h5>
            <p class="card-text"><%= x["text"] %></p>
            <p class="card-text">manaCost: <%=x["manaCost"] %></p>
            <p class="card-text">Layout: <%= x["layout"] %></p>
            <p class="card-text">Colors: <%= x["colors"] %></p>
            <p class="card-text">Rarity: <%= x["rarity"] %></p>
           <p class="card-text">Power: <%= x["power"] %></p>
           <p class="card-text">Toughness:<%= x["toughness"] %></p>
           <br>
           </div>
         </div>
        </div>
      <br>
       <br>
    <% end %>
   </div>
</div>
<br>
 <br>
