<%= form_with(model: card_datum, local: true) do |form| %>
  <% if card_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_datum.errors.count, "error") %> prohibited this card_datum from being saved:</h2>

      <ul>
      <% card_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :user_id, value: current_user.id, type: "hidden" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :manaCost %>
    <%= form.number_field :manaCost, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :layout %>
    <%= form.text_field :layout, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :colors %>
    <%= form.text_field :colors, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :rarity %>
    <%= form.text_field :rarity, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :power %>
    <%= form.text_field :power, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :toughness %>
    <%= form.text_field :toughness, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :imageUrl %>
    <%= form.text_field :imageUrl, class: "form-control" %>
  </div>


<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
