<%= form_with(model: card_datum, local: true) do |form| %>
  <% if card_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card_datum.errors.count, "error") %> prohibited this card_datum from being saved:</h2>

      <ul>
      <% card_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :manaCost %>
    <%= form.number_field :manaCost %>
  </div>

  <div class="field">
    <%= form.label :layout %>
    <%= form.text_field :layout %>
  </div>

  <div class="field">
    <%= form.label :colors %>
    <%= form.text_field :colors %>
  </div>

  <div class="field">
    <%= form.label :supertypes %>
    <%= form.text_field :supertypes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
