<p id="notice"><%= notice %></p>

<h1>My Cards Table</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Manacost</th>
      <th>Layout</th>
      <th>Colors</th>
       <th>Rarity</th>
       <th>Text</th>
       <th>Power</th>
       <th>Toughness</th>
       <th>imageUrl</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_data.each do |card_datum| %>
        <% if card_datum.user_id == current_user.id %>
      <tr>
        <td><%= card_datum.user_id %></td>
        <td><%= link_to card_datum.name,  card_datum %></td>
        <td><%= card_datum.manaCost %></td>
        <td><%= card_datum.layout %></td>
        <td><%= card_datum.colors %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<% @card_data.each do |card_datum| %>
    <% if card_datum.user_id == current_user.id %>
<div class="container">
<div class="row">
   <div class="col-sm">
     <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= card_datum.name %></h5>
            <p class="card-text"><%= card_datum.manaCost %></p>
            <p class="card-text"><%= card_datum.layout %></p>
            <p class="card-text"><%= card_datum.colors %></p>
           </div>
         </div>
        </div>
      <br>
    <% end %>
   </div>
</div>
<% end %>
<br>

<%= link_to 'New Card', new_card_datum_path, class: "btn btn-primary" %>
