<p id="notice"><%= notice %></p>

<h1>My Cards Table</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Manacost</th>
      <th>Layout</th>
      <th>Colors</th>
       <th>Rarity</th>
       <th>Text</th>
       <th>Power</th>
       <th>Toughness</th>
       <th>imageUrl</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_data.each do |card_datum| %>
        <% if card_datum.user_id == current_user.id %>
      <tr>
        <td><%= card_datum.user_id %></td>
        <td><%= link_to card_datum.name,  card_datum %></td>
        <td><%= card_datum.manaCost %></td>
        <td><%= card_datum.layout %></td>
        <td><%= card_datum.colors %></td>
        <td><%= card_datum.rarity %></td>
        <td><%= card_datum.text %></td>
        <td><%= card_datum.power %></td>
        <td><%= card_datum.toughness %></td>
        <td><%= card_datum.imageUrl %></td>

       </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<% @card_data.each do |card_datum| %>
    <% if card_datum.user_id == current_user.id %>
<div class="container">
<div class="row">
   <div class="col-sm">
     <div class="card" style="width: 18rem;">

         <img class="card-img-top" src="<%= card_datum.imageUrl %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><strong>Name:</strong><%= card_datum.name %></h5>
            <p class="card-text"><strong>manaCost:</strong><%= card_datum.manaCost %></p>
            <p class="card-text"><strong>Layout:</strong><%= card_datum.layout %></p>
            <p class="card-text"><strong>Colors:</strong><%= card_datum.colors %></p>
            <p class="card-text"><strong>Text:</strong><%= card_datum.text %></p>
            <p class="card-text"><strong>Rarity:</strong><%= card_datum.rarity %></p>
            <p class="card-text"><strong>Power:</strong><%= card_datum.power %></p>
            <p class="card-text"><strong>Toughness:</strong><%= card_datum.toughness %></p>
            <p class="card-text"><strong>ImageURL:</strong><%= card_datum.imageUrl %></p>
           </div>
         </div>
        </div>
      <br>
    <% end %>
   </div>
</div>
<% end %>
<br>

<%= link_to 'New Card', new_card_datum_path, class: "btn btn-danger" %>
