<p id="notice"><%= notice %></p>

<h1>Card Data</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Manacost</th>
      <th>Layout</th>
      <th>Colors</th>
       <th>Rarity</th>
       <th>Text</th>
       <th>Power</th>
       <th>Toughness</th>
       <th>imageUrl</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_data.each do |card_datum| %>
        <% if card_datum.user_id == current_user.id %>
      <tr>
        <td><%= card_datum.user_id %></td>
        <td><%= link_to card_datum.name,  card_datum %></td>
        <td><%= card_datum.manaCost %></td>
        <td><%= card_datum.layout %></td>
        <td><%= card_datum.colors %></td>
        <td><%= card_datum.rarity %></td>
        <td><%= card_datum.text %></td>
        <td><%= card_datum.power %></td>
        <td><%= card_datum.toughness %></td>
        <td><%= card_datum.imageUrl %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card Datum', new_card_datum_path, class: "btn btn-primary" %>
