<p id="notice"><%= notice %></p>
<h1> <strong>Name:</strong>
 <%= @card_datum.name %></h1>
<div class="container">
<div class="row">
   <div class="col-sm">
     <div class="card" style="width: 18rem;">
          <div class="card-body">

            <p>
              <strong>User:</strong>
              <%= @card_datum.user_id %>
            </p>

            <p>
              <strong>Manacost:</strong>
              <%= @card_datum.manaCost %>
            </p>

            <p>
              <strong>Layout:</strong>
              <%= @card_datum.layout %>
            </p>

            <p>
              <strong>Colors:</strong>
              <%= @card_datum.colors %>
            </p>

<%= link_to 'Edit', edit_card_datum_path(@card_datum) %> |
<%= link_to 'Back', card_data_path %> | <%= link_to 'Destroy', card_datum_path(@card_datum), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
</div>
